<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>piisentry</title>
  </head>
  <body>

    {% extends "template.html" %}


    {% block navbar %}
    <a class="nav-link" href="{{ url_for('home_page')}}">Home</a>
    <a class="nav-link active" href="{{ url_for('API_page')}}">API documentation</a>
    <a class="nav-link " href="{{url_for('Login_page')}}">Login</a>
    <a class="nav-link" href="{{url_for('Register_page')}}">Register</a>
    {% endblock navbar%}

    {% block content %}

     <p>
       This is the API documentation page.
     </p>

    {% endblock %}
  </body>
</html>
