<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>piisentry</title>
  </head>
  <body>

    {% extends "template.html" %}

    {% block navbar %}
    <a class="nav-link active" href="{{ url_for('home_page')}}">Home</a>
    <a class="nav-link" href="{{ url_for('API_page')}}">API documentation</a>
    <a class="nav-link" href="{{url_for('Login_page')}}">Register/Login</a>
    {% endblock navbar%}


    {% block content %}
    <div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-6">
            <textarea class="form-control" rows="3" placeholder="Enter your text here" required></textarea>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary btn-lg">Search PII</button>

<form class="form-inline mt-2 mt-md-0" action="/" method="POST">
  <input type="text"  name="user_input_text" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask</button>
</form>



    {% endblock %}
  </body>
</html>
