<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>piisentry</title>
  </head>
  <body>

    {% extends "template.html" %}

    {% block navbar %}
    <a class="nav-link active" href="{{ url_for('home_page')}}">Home</a>
    <a class="nav-link" href="{{ url_for('API_page')}}">API documentation</a>
    <a class="nav-link" href="{{url_for('Login_page')}}">Login</a>
    <a class="nav-link" href="{{url_for('Register_page')}}">Register</a>
    {% endblock navbar%}


    {% block content %}
    <legend class = "mb-4">Enter your text below to search for PII</legend>
    <form class="form-group mb-4 " action="" method="POST">
        <fieldset>
          <div class="form-group">
          {{ form.text(class = "form-control") }}
          </div>
        </fieldset>

        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>

    </form>

    <table border = 1>

<!-- <p><strong>How can I track my order?</strong></p> -->

<!-- 
    <p><strong>{{  output }}</p></strong><br></br> -->





    {% endblock %}
  </body>
</html>
