<title>piisentry</title>
{% extends "template.html" %}
{% block navbar %}
<a class="nav-link" href="{{ url_for('home_page')}}">Home</a>
<a class="nav-link" href="{{ url_for('API_page')}}">API documentation</a>
<a class="nav-link active" href="{{url_for('Login_page')}}">Login</a>
<a class="nav-link" href="{{url_for('Register_page')}}">Register</a>
{% endblock navbar%}

{% block content %}
    <div class="content-section">
      <form class="" action="" method="post">
        {{ form.hidden_tag() }}

        <fieldset class = 'form-group'>
          <legend class = 'border-bottom mb-10'>Log In </legend>

              <!-- email -->
              <div class = 'form-group'>
                {{ form.email.label(class = "form-control-label") }}
                <!-- add error notification for this field  -->
                {% if form.email.errors %}
                    {{ form.email(class = "form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class = "form-control form-control-lg") }}
                {% endif %}
              </div>

              <!-- password -->
              <div class = 'form-group'>
                {{ form.password.label(class = "form-control-label") }}
                <!-- add error notification for this field  -->
                {% if form.password.errors %}
                    {{ form.password(class = "form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class = "form-control form-control-lg") }}
                {% endif %}
              </div>

              <div class="form-check">
                {{ form.remember(class = "form-check-input ") }}
                {{ form.remember.label(class = "form-check-label ") }}
              </div>
        </fieldset>

        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <small class = "text-muted ml-2">
          <a href="#">Forgot password?</a>
        </small>
      </form>
    </div>

    <div class="border-top pt-3">
      <small class="text-muted">
        Need an account? <a href="{{url_for('Register_page')}}" class = 'ml-2'>Sign Up</a>
      </small>

    </div>


{% endblock content %}
