<title>piisentry</title>
{% extends "template.html" %}
{% block navbar %}
<a class="nav-link" href="{{ url_for('home_page')}}">Home</a>
<a class="nav-link" href="{{ url_for('API_page')}}">API documentation</a>
<a class="nav-link active" href="{{url_for('Login_page')}}">Register/Login</a>
{% endblock navbar%}

{% block content %}

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}
