<title>piisentry</title>
{% extends "template.html" %}
{% block navbar %}
<a class="nav-link" href="{{ url_for('home_page')}}">Home</a>
<a class="nav-link" href="{{ url_for('API_page')}}">API documentation</a>
<a class="nav-link" href="{{url_for('Login_page')}}">Login</a>
<a class="nav-link active" href="{{url_for('Register_page')}}">Register</a>
{% endblock navbar%}

{% block content %}
    <div class="content-section">
      <form action="" method="post">
        {{ form.hidden_tag() }}

        <fieldset class = 'form-group'>


              <!-- username -->
              <div class = 'form-group'>
                {{ form.username.label(class = "form-control-label") }}
                <!-- add error notification for this field  -->
                {% if form.username.errors %}
                    {{ form.username(class = "form-control  is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class = "form-control ") }}
                {% endif %}
              </div>

              <!-- email -->
              <div class = 'form-group'>
                {{ form.email.label(class = "form-control-label") }}
                <!-- add error notification for this field  -->
                {% if form.email.errors %}
                    {{ form.email(class = "form-control  is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class = "form-control ") }}
                {% endif %}
              </div>

              <!-- password -->
              <div class = 'form-group'>
                {{ form.password.label(class = "form-control-label") }}
                <!-- add error notification for this field  -->
                {% if form.password.errors %}
                    {{ form.password(class = "form-control  is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class = "form-control ") }}
                {% endif %}
              </div>

              <!-- confirmed_password -->
              <div class = 'form-group'>
                {{ form.confirm_password.label(class = "form-control-label") }}
                <!-- add error notification for this field  -->
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class = "form-control  is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.confirm_password.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class = "form-control ") }}
                {% endif %}
              </div>


        </fieldset>

        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>

      </form>
    </div>


      <small class="text-muted">
        Already have an account? <a href="{{url_for('Login_page')}}" class = 'ml-2'>Sign In</a>
      </small>



{% endblock content %}
